@import "./reset.css";

:root {
  --app-light-bg: 218 224 230;
  --app-light-acc: 248 249 250;
  --app-blue: 108 131 206;
  --app-orange: 211 123 90;

  --app-header-height: 12rem;
}

body {
  background-color: rgb(var(--app-light-bg));
}

.container {
  margin-inline: auto;
  width: 80vw;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height:var(--app-header-height);
  background-color: rgb(var(--app-light-bg));
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 0;
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  height: 3rem;
  padding: 0.5rem;
  border-radius: 4px;
  font-size: 1rem;
}

input[type="text"] {
  width: 30rem;
  margin-right: 1rem;
  background-color: rgb(var(--app-light-acc));
  border: 1px solid rgb(40 40 40 / 0.5);
}

input[type="text"]:focus {
  background-color: rgb(255 255 255);
}

input[type="button"] {
  width: 6rem;
  background-color: rgb(var(--app-orange));
  border: 1px solid rgb(var(--app-orange));
}

input[type="button"]:hover {
  background-color: rgb(var(--app-orange) / 0.5);
}

main {
  padding-top: var(--app-header-height);
  min-height: calc(100vh - var(--app-header-height) );
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(20vw, 1fr));
  grid-auto-rows: 110px;
  gap: 1rem;
  padding-top: 1rem;
}

.contact-box {
  background-color: rgb(255 255 255);
  display: flex;
  border-radius: 4px;
  cursor: pointer;
  /* max-width: 100%; */
}


.contact-box > * {
  padding: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.highlight {
  background-color: rgb(var(--app-light-acc));
  flex: 0 0 80px;
}

.contact-count {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: rgb(var(--app-blue));
  border-radius: 4px;
  padding: 0.5rem;
}